[user]
	name = Jonathan Yu
	email = jawnsy@cpan.org
[alias]
	ci = commit
	st = status
	prune = fetch --all --prune
[merge]
	ff = only
	conflictstyle = diff3
[push]
	default = simple
[pull]
	rebase = true
